@CHARSET "ISO-8859-1";

h1{
	display:inline;
}
h2#h2{
	text-align: center;
}
div#contact-me{
	display: inline;
	list-style-type: none;
	margin: auto;
	padding:1%;
}

ul{
	display: block;
	float:right;
	margin-top: 1%;
}

li{
	display: block; 
}
hr{
	clear: both;
}
div#hire-me{
	text-align:center;
}
div#project-container{
	text-align: center;
}
span.projects{
	height: 10%;
    width: 33%;
    margin: 10%
}
div#about-me{
	float:left;
	margin-left: 10%;
	width:50%;
}
div#whats-new{
	transform: translateY(-50%);
	float:right;
}
div#jumbo-container{
	padding: 5%;
}
